# use `gcloud organizations list`
organization = {
  domain      = "vannick.altostrat.com"
  id          = 262782368104
  customer_id = "C019nh04b"
}
location = "asia-southeast1"
folder               = ""
project              = ""

logging_project      = "logging-project"
security_project     = "security-project"
billing_project      = "my-project"
billing_account      = "11111-11111-11111"
